@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

// Customize bulma
$beige: #E7DFC6;

$primary: #2274A5;
$family-primary: 'Solway', serif;

@import 'bulma';

#hero-container {
  background: $primary;
  padding: 8rem 5rem;
  min-height: 100vh;

  h1 {
    font-size: 5rem;
    color: white;

    small {
      font-size: 0.6em;
    }
  }

  p {
    color: $beige;
    font-size: 1.5em;
  }
}

#join-form-container {
  padding: 10rem 5rem;
  background: $beige;
}

nav.navbar {
  border-bottom: 5px solid $primary;
}
